* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  font-size: 16px;
}

header img {
  margin-left: 50%;
  transform: translate(-50%);
}

header nav {
  max-width: 1200px;
  margin: 0 auto;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header nav ul li {
  padding: 20px;
}

header nav ul li:hover {
  background-color: #B2E5FC;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

section .cards .card {
  flex-basis: calc(100% / 3 - 40px);
  position: relative;
  margin: 20px;
  transition-duration: 0.3s;
  overflow: hidden;
}

section .cards .card:hover .hover {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

section .cards .card:hover .hover h3 {
  padding: 20px;
}

section .cards .card img {
  width: 100%;
  transition: 0.5s;
  /*transform: scale(1.2);*/
}

section .cards .card .hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section .cards .card:hover img {
  transform: scale(1.1);
}

section h2 {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #002D73;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  color: #A9B0B9;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

footer .contenitore-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer .contenitore-footer ul {
  list-style: none;
}

footer .contenitore-footer ul h4 {
  text-transform: uppercase;
  font-size: 22px;
}

footer .colonna:nth-child(2) ul:nth-child(2) {
  margin-top: 30px;
}

footer .colonna:nth-child(3) li,
footer .colonna:nth-child(2) li {
  padding: 6px;
}

