header {
    font-family: $font_base;
    background-color: white;
    font-size: 16px;
    
    img {
        margin-left: 50%;
        transform: translate(-50%);
    }

    nav {

        max-width: 1200px;
        margin: 0 auto;

        ul {

            display: flex;
            list-style: none;
            justify-content: center;

            li {
                padding: 20px;
                &:hover {
                    background-color: #B2E5FC;
                }
            }

            .hamburger {
                position: absolute;
                height: 40px;
                width: 40px;
                color: black;
                display: none;

                .fa-bars {
                    font-size: 40px;
                    color: #002D73;
                }
            }

        }

    }
    
}

@media all and (max-width: 992px) {
    
    header nav ul .hamburger {
        display: block;
    }

    header nav ul li {
        visibility: hidden;

    }
}

